<% provide(:title, 'Social Fitness Trainer') %>

<div class="center hero-unit">
	<h1>Edacio</h1>
	
   <h2>Edacio is the best fitness tracker to maintain your social health. <h2>
	
	<div class="slider-wrapper theme-default">
		<div class="ribbon"></div>
		<div id="slider" class="nivoSlider">
		    <%= link_to image_tag("integration.png", alt: "Integration",title:"Integration"), '' %>
		    <%= link_to image_tag("organization.png", alt: "Integration",title:"Organization"), '' %>
		    <%= link_to image_tag("training.png", alt: "Integration",title:"Training"), '' %>
		    <%= link_to image_tag("visualization.png", alt: "Integration",title:"Visualization"), '' %>
		</div>
		<div id="htmlcaption" class="nivo-html-caption">
		    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
		</div>
	</div>

   <h2><br/><br/><h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

