<%= content_for :body_attributes, "ondragover='allowDrop(event)' ondrop='drop(event)' onClick='onMD(event)'" %>
<% provide(:title, @user.username) %>


<!-- User Profile -->
<div id='profile'>
	<%= user_profile_for @profile.picurl %>
	<h3 id="profilename"> <%= @profile.name %></h1>
	<div id="alertCounter" style="opacity:0">
		<p id="alertCounterText"><p>
	</div>
	<h3 id="profiletitle"> <%= @profile.title %></h1>
</div>


<!-- Menu on the right side -->
<div id="rightMenu">
	<!-- plug visual -->
	<div id="plugview">
		<h4 id = "plugdesc" class = "whitetext"></h4>
	</div>

	<!-- linkedin contact profile -->
	<div id="contactprofile">
		<img id="linkImage" src="/assets/tempme.png"/>
		<h3 id="linkName" class = "whitetext"></h3>
		<h3 id="linkTitle" class = "whitetext"></h3>
		<h3 id="linkLocation" class = "whitetext"></h3>
	</div>
	<div id="contactreminder">
		<button id = "onetime" class = "selectbtn" onclick = "setPriority(1)">One Time</button>
		<button id = "recurring" class = "selectbtn" onclick = "setPriority(2)">Recurring</button>
	</div>
	<div id="contactaction">
	</div>


	<!-- adding notes -->
	
		
	<div id="noteaddbox">
		<h3 id = "contacttitle"> </h3>
		<input type = "text" placeholder = "Write new notes..." id = "textArea" style= "position:absolute; left:0px; top:20px;"/>
		<button class = "btn" onclick = "addNotes()" style= "position:absolute; right:2px;bottom: 0px;">Post</button>
  </div>

	
	
	<!-- notelist -->
	<div id="notelist" >
		<ul id="pastnotemenu">
			<%= render "shared/notes" %>
		</ul>
	</div>
</div>

<div id="menulist">
 <ul id="menulistul">
 </ul>
</div>

       
		

		<svg id="svgc" style="width:100%; height:570px; background:#FFF; z-index:0"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		</svg>


      
       


<%= javascript_tag :defer => 'defer' do %>

	initialize();

	//main profile
	var userProfile = new connectionProfile(0,"<%= @profile.linkid%>","<%= @profile.picurl%>","<%= @profile.name%>","<%= @profile.title%>","<%= @profile.location%>",
														 "","<%= @profile.linkurl%>");
	mapui.resetTopNodes(userProfile);
	//Linkedin MENU
	var linnnk = [];
	var x;
	<% @cont.each do |order| %>
		var name = "<%= order[2] %>";
		if (name.indexOf("private") === -1){
			x = new connectionProfile(0,"<%= order[0] %>","<%= order[1] %>","<%= order[2] %>","<%= order[3] %>","<%= order[4] %>","<%= order[5] %>","<%= order[6] %>");
			linnnk.push(x);
		}
	<% end %>
	mapui.menu.addLinked(linnnk);
	
	//Load links
	var profileList = [];
	var z;
	var foci;
	var paraFoci;
	<% @connections.each do |b| %>
			z = new connectionProfile(<%= b[0] %>,"<%= b[1] %>","<%= b[2] %>","<%= b[3] %>","<%= b[4] %>","<%= b[5] %>","<%= b[6] %>","<%= b[7] %>");
			z.tag = "<%= b[8] %>";
			z.priority = <%= b[9] %>;
			if (<%= b[10] %> == 0){
				foci = new Focus(z,mapui.topFocus);
				mapui.topFocus.children.push(foci);
			}else {
				paraFoci = mapui.topFocus.returnMatchFocus(<%= b[10] %>)
				foci = new Focus(z,paraFoci);
				paraFoci.children.push(foci);
			}
	<% end %>
	mapui.drawAll(svg);
<% end %>

	
	





