 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">

          <%= link_to image_tag("logo2.png", alt: "Edacio"), root_path, id: "logoimg" %>
          <%= link_to "    Social Network Trainer", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li id = "headerli"><%= link_to "Home",    root_path %></li>
				  <li id = "headerli"><%= link_to "About",    about_path %></li>
				  <li id = "headerli"><%= link_to "Feedback", "mailto:Feedback.Edacio@gmail.com?Subject=Edacio%20Question", :target => "_blank" %></li>
               <% if signed_in? %>    
						<li id = "headerli"><%= link_to "Battle Map", current_user %></li>
						<li id = "headerli">
				      <%= link_to "Sign out", signout_path, method: "delete" %>
				      </li>
				    <% else %>
				      <li id = "headerli"><%= link_to "Sign in", signin_path %></li>
                  <li id = "headerli"><%= link_to "Signup", signup_path %></li>
				    <% end %>
						
            </ul>
          </nav>

      </div>
    </header>

