<!DOCTYPE html>
<html>
<head>
  <title>Edacio | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="icon" href="assets/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/ico" />
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
		  api_key: y6wnoxfgc8ir
		  onLoad: onLinkedInLoad
		  authorize: true
		</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="initialize()" ondragover="allowDrop(event)" ondrop="drop(event)" onClick="onMD(event)">

   <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>


    <!--  <%= debug(params) if Rails.env.development? %>-->
    </div>

</body>
</html>
